.quienesomos {
    background-color: black;
}


.subtitulos {
    color: white;
    text-align: center;
}

.card-header {
    background-color: aqua;
    text-align: center;
}

.destacados {
    background-color: black;
}

.card-group {
    border-color: aqua;
}

.tarjeta{
    background-color: aqua;
}

.contacto {
    background-color: black;
}

.form-label {
    color: white;
}
