.bg-total {
    background-color: black;
}

.NabVar {
    background-color: transparent;
}


.quienesomos {
    background-color: black;
    padding-top: 30px;
}

.nav-link {
    color: white;
    font-family: "Patua One";
    font-size: 18px;
}

.navbar-brand {
    display: flex;
}

.subtitulos {
    color: white;
    text-align: center;
    font-family: "Neucha", cursive;
    font-size: 45px;
    padding-top: 30px;
}

.card-header {
    background-color: aqua;
    text-align: center;
}

.destacados {
    background-color: black;
}

.card-group {
    border-color: aqua;
}

.tarjeta{
    background-color: aqua;
}

.contacto {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-label {
    color: white;
    font-family: "Neucha", cursive;
    font-size: 20px;
}

.footer {
    background-color: aqua;
    display: flex;
}

.redessociales {
    text-align: end;
    color: black;
    padding-right: 150px;
}

.footerviajes {
    text-align: start;
    color: blue;
    display: flex;
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-card {
    background-color: black;
    color: white;
}

.container {
    background-color: black;
}

#titulo {
    font-family: "Patua One";
    font-size: 28px;
}

.card-text {
    font-family: "Neucha", cursive;
}

.card-title {
    font-family: "Neucha", cursive;
    text-align: center;
}
